* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins';
}
body{
    background-image: url(/bg\ netflix.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover ;
    
}
/*Netflix image navbar*/
.logo img{
    padding-left: 100px;
    padding-top: 65px;
   width: 50em;
   
}
/*Navigation bar*/
.navbar{
    display: flex;
    justify-content: space-between;
}
/* Login button */
.login{
    margin-top:55px ;
    margin-right: 35px;
}
.login a{
    font-size: 50px;
    border: 7px solid #f70707;
    color: #a9a6a6;
    border-radius: 9em;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 10px 15px 20px rgba(255, 0, 0, 0.638);
}
.login a:hover{
font-size: 55px;
    color: #fff;
    transition: 0.2s;
    box-shadow: none;
}
/*container*/
.container{
    margin-top: 30rem;
    text-align: center;
    color: #fff;
}
.container h1{
    font-size: 150px;
}
.container h5{
    color: #fffafac1;
    margin-top: 105px;
    font-size: 60px;
}
.container h5 a{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
.container h5 a:hover{
    color: #d80303;
}
@media screen and (max-width: 800px) {
    body{
       
     }
     /*Netflix image navbar*/
 .logo img{
     padding-left: 20px;
     padding-top: 30px;
    width: 9em;
 }
 /* Login button */
.login{
    margin-top:35px ;
    margin-right: 0px;
}
.login a{
    background-color: rgba(32, 1, 1, 0.598);
    font-size: 10px;
    border: 1px solid #f70707;
    color: #a9a6a6;
    border-radius: 15px;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.638);
}
.login a:hover{
   font-size: 15px;
   transition: none; 
   border: 1px solid #f70707;
   color: #a9a6a6;
   border-radius: 15px;
   padding: 10px 10px;
   text-decoration: none;
   transition: 0.3s;
   box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.638);  
}
/*container*/
.container{
    margin-top: 200px;
    text-align: center;
    color: #fff;
}
.container h1{
    font-size: 30px;
}
.container h5{
    color: #fffafac1;
    margin-top: 15px;
    font-size: 10px;
}
}
