* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins';
}
body{
    background-image: url(/bg\ netflix.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover ;
    
}
/*Netflix image navbar*/
.logo img{
    padding-left: 100px;
    padding-top: 65px;
   width: 50em;
   
}
/*login form*/
.form{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 35%;
    border: 9px solid rgb(252, 1, 1);
    align-items: center;
    margin: auto;
    margin-top:15rem;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 10px 15px 20px rgba(255, 0, 0, 0.638);
    border-radius: 4rem;
}
.form h1{
    color: white;
    font-size: 9rem;
    border-bottom: 7px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10rem;
}

/*boxes*/
.box{
    font-size: 45px;
    color: white;
    padding: 50px;
    margin: 60px;
    width: 90%;
    height: 18%;
    border: none;
    outline: none;
    border: 2px solid rgba(166, 162, 162, 0.659);
    border-radius: 2rem;
    background-color: rgba(38, 38, 38, 0.626);
    box-shadow: inset -3px -3px rgba(0,0,0,0.5);
}
/*submit button*/
#submit{
    font-size: 45px;
    color: white;
    padding: 50px;
    margin: 60px;
    width: 90%;
    height: 18%;
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: rgb(255, 0, 0);
    box-shadow: 10px 15px 20px rgba(255, 0, 0, 0.638);
}
#submit:hover{
    cursor: pointer;
    background-color: rgb(197, 1, 1);
    box-shadow: none;
}
@media screen and (max-width: 800px) {
    body{
       background-image: none;
        background-color: black;
    }
    /*Netflix image navbar*/
.logo img{
    padding-left: 20px;
    padding-top: 30px;
   width: 9em;
}
/*login form*/
.form{
    display: flex;
    flex-direction: column;
    height: 9%;
    width: 100%;
    border:none;
    align-items: center;
    margin: auto;
    margin-top:15px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: none;
    border-radius: 10px;
}

.form h1{
    color: white;
    font-size: 2rem;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10rem;
}
/*boxes*/
.box{
    font-size: 20px;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 90%;
    height: 20%;
    border: none;
    outline: none;
    border: 2px solid rgba(166, 162, 162, 0.659);
    border-radius: 2px;
    background-color: rgba(38, 38, 38, 0.626);
    box-shadow: inset -3px -3px rgba(0,0,0,0.5);
}
/*submit button*/
#submit{
    font-size: 25px;
    color: white;
    padding: 20px;
    margin: 60px;
    width: 90%;
    height: 18%;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: rgb(255, 0, 0);
    box-shadow: 10px 15px 20px rgba(255, 0, 0, 0.638);
}
#submit:hover{
    cursor: pointer;
    background-color: rgb(197, 1, 1);
    box-shadow: none;
}



}